/*
Notegrid Elements
*/

table.notegrid {
    /* table-layout: fixed; */
    /*width: 100%;*/
    min-width: 100%;
}

@media screen and (orientation: portrait) {
    table.notegrid {
        /* table-layout: fixed; */
        /*width: 200%;*/

        min-width: 100%;
    }
}

@media screen and (orientation: landscape) {
    table.notegrid {
        /* table-layout: fixed; */
        /*width: 100%;*/

        min-width: 100%;
    }
}

.notegrid th, td {
    border: 1px solid #DDDDDD;
    /* temporaer:  background-color: #303030; */
    text-align: center;
    color: #AAAAAA;
    min-width: 3em;

}

.notegrid td:hover {
    background-color: #DDDDDD;
}

.notegrid td:active {
    background-color: #BBBBBB;
}

.noteCaptionSpaceholder {
    visibility: hidden;
    width: 3em;
    border: 1px;

}

td.noteCaptionSpaceholder:hover {
    background-color: white;
}

.noteCaption {
    background-color: white;
    color: #167FFB;
    /*font-style: bold;*/
    text-align: center;
    line-height: 100%;
    font-weight: 900;
    /* height: 3em; */
    left: 0;
    top: auto;
    border: 1px solid #DDDDDD;
    width: 3em;
    position: sticky;
    background-clip: padding-box;
    /* padding: 1px; */
}

td.noteCaption:hover {
    background-color: white;
}

.notegrid tr {
    height: 3em;
}

.br2 {
    border-right: 2px #a9a9a9 solid;
}

.br4 {
    border-right: 4px #a9a9a9 solid;
}

.bb2 {
    border-bottom: 2px #a9a9a9 solid;
}

/*
End Notegrid Elements
/*
/*
Drumkit
*/

#drumgridframe {
    /*position: fixed;*/
    bottom: 60px;
    height: 120px;
    width: 100%;
    background: #fff;
}

/* Drumkit END */
/*
Main Page Styles
*/

nav {
    /*height: 5%;*/
    position: fixed;
}

.navbar {
    margin-bottom: 0;
    /*min-height: 8%;*/
}

.btn {
    font-size: 1.8em;
    margin-right: 0;
    margin-left: 0;
}

#togglePlayBtn {
    width: 2em;
}

.invisible {
    min-height: 6em;
}

.instrument {
    text-transform: capitalize;
}

/*
End Main Pager Styles
*/

/*
Settings Popup Styles
*/
#settings .optionsLabel {
    margin-left: 2em;
    margin-top: 0.3em;
}

#settings .row {
    margin-top: 1em;
}

#settings #scaleSelect option {
    text-transform: capitalize;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #167FFB;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #167FFB;
    cursor: pointer;
}

div {
    text-align: center;
}

/*Prevent text selection*/
span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input {
    border: 0;
    width: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:disabled {
    background-color: white;
}

.red {
    background-color: red!important;
}

input[type=checkbox]{
    width: 15px;
    height: 15px;
}